*{

    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/* heading section */
.make-it-lg{
    color: var(--text-heading);
    font-family: var(--font-heading);
}

/* title of the card */
.bg-change{
    color: var(--background);
    background-color: var(--text-heading);
}

/* learn more button section */
.amk-bg-trans{
    cursor: pointer;
    color: var(--background);
    background-color: var(--primary);
    border: 1.9px solid var(--primary);
    transition: .2s ease;
}
.amk-bg-trans:hover{
    background-color: transparent;
    color: var(--primary);
}
/* content section */
.text-col-ch{
    color: var(--text);
}

/* card section */
.ch-scale{
    transition: .2s ease;
}
.ch-scale:hover{
    transform: scale(1.05);
}

.ch-scale:active{
    scale: .85;
}