@import "tailwindcss";


*{

  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  overflow-y: auto !important;
}

:root {
  --primary: #2563eb;
  /* --primary: #144DB2; */
  --secondary: #F8BF16;
  --background: #ffffff;
  --text-heading:#313131;
  --text: #333333;

--font-heading: "Raleway", sans-serif;
--font-body: "Roboto", sans-serif;
}

body{
  background-color: #f3f3f3;
}